version: '3.2'
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: supertodo_rabbitmq
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      - RABBITMQ_DEFAULT_USER=rabbitmquser
      - RABBITMQ_DEFAULT_PASS=DEBmbwkSrzy9D1T9cJfa

  sqlserver:
    image: microsoft/mssql-server-linux:latest
    container_name: supertodo_sqlserver
    volumes:
      - sqlserverdata:/var/opt/mssql
    ports:
      - "1434:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_PID=Developer
      - SA_PASSWORD=8jkGh47hnDw89Haq8LN2

  mailserver:
    image: djfarrelly/maildev
    container_name: supertodo_mailserver
    ports:
      - "25:25"
      - "4000:80"

  logserver:
    image: datalust/seq:latest
    container_name: supertodo_logserver
    ports:
      - "5341:80"
    environment:
      - ACCEPT_EULA=Y

  tasks_api:
    image: super_todo/tasks_api:0.1
    build: TodoTasks.Api
    container_name: supertodo_tasks_api
    depends_on:
      - rabbitmq
      - sqlserver
    ports:
      - "7100:7100"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  users_api:
    image: super_todo/users_api:0.1
    build: Users.Api
    container_name: supertodo_users_api
    depends_on:
      - rabbitmq
      - sqlserver
      - todotasks_eventhandler
    ports:
      - "7200:7200"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
        
  auth_api:
    image: super_todo/auth_api:0.1
    build: Users.Api
    container_name: supertodo_auth_api
    ports:
      - "7300:7300"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  web_app:
    image: super_todo/web_app:0.1
    build: WebApp
    container_name: supertodo_web_app
    depends_on:
      - tasks_api
      - users_api
      - auth_api
    ports:
      - "7000:7000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  todotasks_eventhandler:
    image: super_todo/todotasks_eventhandler:0.1
    build: TodoTasks.EventHandler
    container_name: supertodo_todotasks_eventHandler
    depends_on:
      - rabbitmq
      - sqlserver
    environment:
      - DOTNET_ENVIRONMENT=Production

  notifications:
    image: super_todo/notifications:0.1
    build: Notifications
    container_name: supertodo_notifications
    depends_on:
      - rabbitmq
      - mailserver
    environment:
      - DOTNET_ENVIRONMENT=Production

volumes:
  sqlserverdata:
    external: true
  rabbitmqdata:
    external: true